:root {
  --primary-teal: #008080;
  --primary-sage: #4d6d4b;
  --secondary-gray: #c0c0c0;
  --accent-yellow: #ffff00;
}

* {
  background-color: whitesmoke;
  font-family: sans-serif;
}

h1 {
  color: var(--primary-teal);
}

a {
  color: var(--primary-sage);
}

a .current {
  border-bottom: 1px solid var(--accent-yellow);
}
