:root {
  --primary-teal: #008080;
  --primary-sage: #4d6d4b;
  --secondary-gray: #c0c0c0;
  --accent-teal: #004040;
}

* {
  background-color: whitesmoke;
  font-family: sans-serif;
}

body {
  margin: 1rem;
}

.container {
  margin: 2rem auto;
  max-width: 768px;
}

main {
  padding: 0.5rem;
}

h1 {
  color: var(--primary-teal);
}

.hide {
  display: none;
}
