---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = 'Sarah Katz'
---
<!-- TODO: Content on this page -->
<BaseLayout pageTitle={pageTitle}>
	<h2>About Me</h2>
	<p>
		I'm a frontend developer with a passion for building user-friendly and engaging web experiences. 
		I have experience with React and enjoy building beautiful and user-friendly UIs. 
		I strongly believe in the power of teamwork and actively contribute to a collaborative and supportive environment by sharing my knowledge and helping others succeed. 
		Outside of work, I enjoy reading, group fitness, and exploring different arts and crafts.
	</p>
</BaseLayout>
