---
import BaseLayout from "../layouts/BaseLayout.astro"

const allPosts = Object.values(import.meta.glob('./logs/*.md', { eager: true }));
const pageTitle = "Sarah's Learning Log"

---
<BaseLayout pageTitle={pageTitle}> 
    <h2>(Some of) The Things I've Learned</h2>
    <p>Hi, I'm <a href="/about">Sarah</a>, and welcome to my learning log</p>
    <p>
        This is a place for me to share short posts about the things I'm learning as part of my engineering journey.  
        The focus will be on new tech learnings, but I'll also share some interesting (to me) work life learnings.
    </p>
    <p>Thanks for joining me on my learning journey!</p>
    <ul>
        {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
</BaseLayout>
