---
import '../styles/navigation.css';
const currentPath = Astro.url.pathname;

const navItems = [{href: '/', text: 'Learning Log'}, {href: '/about', text: 'About Sarah'}];
---
<nav>
    {navItems.map(({href, text}) => <a href={href} class={currentPath === href ? 'current' : ''}>{text}</a>)}
</nav>