---
import BaseLayout from "./BaseLayout.astro";
import { format } from "date-fns/format";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  {/* TODO: Fix to not be UTC */}
  <p>
    Published: {
      format(new Date(`${frontmatter.pubDate}T00:00:00.000`), "MM/dd/yyyy")
    }
  </p>
  {
    frontmatter.image && (
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />
    )
  }
  <slot />
</BaseLayout>
